# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/config/
run/crash-reports/
run/defaultconfigs/
run/logs/
run/mods/
/run/saves/
run/*.log
user*.json
*.db
Thumbs.db
src/generated/
src/test/

# Files from Forge MDK
forge*changelog.txt

/run/patchouli_data.json
