# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/config/
run/crash-reports/
run/defaultconfigs/
run/logs/
run/mods/
run/saves/
run/world/
run/patchouli_books/
run/resourcepacks/
run/*.log
run/*.txt
run/*.json
run/*.dat
run/*.txt
user*.json
*.properties

*.db
Thumbs.db
src/generated/
src/test/

# Files from Forge MDK
forge*changelog.txt

/run/patchouli_data.json
run/banned-ips.json
run/banned-players.json
